/**Hoja de estilos*/
body{
    background-color: #edeef2;
}

.navbar{
    display: grid;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%; 
    width: 100%;
    height: 100px;
    background-color: #0363ad;
}

.content{
    background-color: #edeef2;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

#first-section{
    width: 100%;
    height: 300px;
}

.box-title{
    margin-top: 25px;
    grid-column: 2/2;
}

.category-title{
    font-family: Roboto,sans-serif;
    font-size: 1.75rem;
    text-align: center;
    color: #333;
}

#second-section{
    width: 100%;
    height: 400px;
}

.box-content{
    grid-column: 2/2;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
}

.img img{
    width: 77%;
}
#img1{
    grid-column: 2/2;
    grid-row: 1;
}

#img2{
    grid-column: 2/2;
    grid-row: 2;
}

.carrusel img{
    size: 70%;
}

.carrusel-products{
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
.title{
    grid-column: 2;
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    color: #333;   
}

.camas{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
}
.beds{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 95% 5%;
}

.colchones{
    grid-column: 1;
}
.juego-col{
    grid-column: 2;
}
.blancos{
    grid-column: 3;
}

.beds img{
    border-radius: 5%;
    width: 98%;
}
.beds span{
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

.marcas{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
}

.calculadora{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
}

.calc{
    grid-row: 2;
    grid-column: 2;
}

.space{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
}

.roms{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 25% 25% 50%;
}

.roms img{
    border-radius: 5%;
    width: 98%;
}
.roms span{
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

.roms2{
    display: grid;
    grid-column: 2;
    grid-row: 3;
    grid-template-columns: 50% 25% 25%;
}

.roms2 img{
    border-radius: 5%;
    width: 98%;
}
.roms2 span{
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}
